<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Upload Excel Layer</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Excel Layer</h5>
                        <h6 class="card-subtitle text-muted">Please upload Excel files that contains your points</h6>
                    </div>
                    <div class="card-body">
                        <form  id="uploadForm">										
                            <div class="form-group">
                                <label class="form-label w-100">File input</label>
                                <input id="fileInput" type="file">
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>